@charset "UTF-8";

/*Обнуление*/

@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

@import url("https://fonts.googleapis.com/css?family=Lato:700");

@import url("https://fonts.googleapis.com/css?family=Hind+Siliguri:300,regular,500,600,700");

* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

li {
   list-style-type: none;
}

ul {
   margin-left: 0;
   padding-left: 0;
}

/*Обнуление окончания*/

.ibg {
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
}

.ibg img {
   width: 0;
   height: 0;
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   visibility: hidden;
}

@font-face {
   font-family: "BebasNeue Bold";
   font-display: swap;
   src: url("../fonts/BebasNeue Bold.woff") format("woff"),
      url("../fonts/BebasNeue Bold.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: "Emily Lime";
   font-display: swap;
   src: url("../fonts/Emily Lime - Bergamot Frames A.woff") format("woff"),
      url("../fonts/Emily Lime - Bergamot Frames A.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: "platonicknormal";
   font-display: swap;
   src: url("../fonts/platonicknormal.woff") format("woff"),
      url("../fonts/platonicknormal.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: "Roboto-Bold";
   font-display: swap;
   src: url("../fonts/Roboto-Bold.woff") format("woff"),
      url("../fonts/Roboto-Bold.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: "Roboto-BoldItalic";
   font-display: swap;
   src: url("../fonts/Roboto-BoldItalic.woff") format("woff"),
      url("../fonts/Roboto-BoldItalic.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
}

body {
   height: 100%;
   font-family: "Hind Siliguri";
}

.wrapper {
   position: relative;
   top: 0px;
   left: 0px;

   width: 100%;
   margin: 0 auto;
   background-color: #0088cc;
}

@-webkit-keyframes mywrap {
   0% {
      background-position: 0 50%;
   }

   50% {
      background-position: 100% 80%;
   }

   100% {
      background-position: 220% 90%;
   }
}

@keyframes mywrap {
   0% {
      background-position: 0 50%;
   }

   50% {
      background-position: 100% 80%;
   }

   100% {
      background-position: 0% 90%;
   }
}

.container {
   max-width: 1250px;
   padding: 0px 15px;
   margin: 0 auto;
}

.title {
   font-size: 30px;
   font-weight: bold;
   line-height: normal;
   color: #fff;
}

.header {
   width: 100%;
   height: 90px;
   background: linear-gradient(to left, #11c459 60%, #0088cc);
   position: fixed;
   z-index: 100;
   top: 0px;
   border-bottom: none;
}

.header__row {
   width: 100%;
   height: 90px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.header__logo {
   width: 100%;
   height: 100%;
}

.header__logoimg {
   width: 50px;
   position: relative;
   top: 0px;
   left: 0px;
   height: 50px;
   border-radius: 50%;
   background-color: #e6edf2;
}

.header__logoimg:hover:before {
   -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
   animation: anim-shadow 0.5s ease-in-out forwards;
}

.header__logoimg:before {
   content: "";
   position: absolute;
   top: 0px;
   left: 0px;
   display: block;
   height: 100%;
   width: 100%;
   border-radius: 100px;
   border-radius: 25px;
   box-shadow: 0px 0px 0px 0px;
   color: white;
   transition: all 0.4s;
}

.header__nav.active {
   right: 0px;
   transition: all 0.3s linear 0s;
}

.header__ul {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 100%;
}

.header__li {
   margin-right: 40px;
}

.header__li:last-child {
   margin-right: 0px;
}

.header__a {
   display: block;
   position: relative;
   top: 0px;
   left: 0px;
   cursor: pointer;
   font-size: 18px;
   font-weight: 600;
   padding: 14px 20px;
   color: #fff;
   text-transform: uppercase;
   z-index: 1;
}

.header__mycontacts {
   display: block;
   cursor: pointer;
   font-size: 18px;
   font-weight: 600;
   position: relative;
   top: 0px;
   left: 0px;
   padding: 12px 20px;
   color: #0088cc;
   border-radius: 25px;
   transition: all 0.3s linear;
   background-color: #e6edf2;
   box-shadow: 0px 0px 0px 0px;
}

.header__mycontacts i {
   transition: all 0.3s linear;
   margin-right: 10px;
   display: inline-block;
   color: #0088cc;
}

.header__mycontacts:hover:before {
   -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
   animation: anim-shadow 0.5s ease-in-out forwards;
}

.header__mycontacts:before {
   content: "";
   position: absolute;
   top: 0px;
   left: 0px;
   display: block;
   height: 100%;
   width: 100%;
   border-radius: 100px;
   border-radius: 25px;
   box-shadow: 0px 0px 0px 0px;
   color: white;
   transition: all 0.4s;
}

@-webkit-keyframes anim-shadow {
   to {
      box-shadow: 0px 0px 70px 25px;
      opacity: 0;
   }
}

@keyframes anim-shadow {
   to {
      box-shadow: 0px 0px 70px 25px;
      opacity: 0;
   }
}

.burger-menu {
   display: none;
}

#firstbu:hover {
   color: white;
   background-color: transparent;
}

#firstbu:hover:before {
   height: 100%;
   top: auto;
   bottom: 0px;
}

#firstbu:before {
   content: "";
   display: block;
   position: absolute;
   top: 0%;
   left: 0px;
   z-index: -1;
   border-radius: 10px;
   height: 0px;
   width: 100%;
   transition: all 0.3s linear;
   background-color: #0088cc;
}

#second:hover {
   color: white;
   background-color: transparent;
}

#second:hover:before {
   height: 100%;
   top: 0px;
   bottom: auto;
}

#second:before {
   content: "";
   display: block;
   position: absolute;
   bottom: 0px;
   left: 0px;
   z-index: -1;
   border-radius: 10px;
   height: 0px;
   width: 100%;
   transition: all 0.3s linear;
   background-color: #0088cc;
}

#third:hover {
   color: white;
   background-color: transparent;
}

#third:hover:before {
   width: 100%;
   right: auto;
   left: 0px;
}

#third:before {
   content: "";
   display: block;
   position: absolute;
   top: 0%;
   right: 0px;
   z-index: -1;
   border-radius: 10px;
   height: 100%;
   width: 0px;
   transition: all 0.3s linear;
   background-color: #0088cc;
}

#four:hover {
   color: white;
   background-color: transparent;
}

#four:hover:before {
   width: 100%;
   left: auto;
   right: 0px;
}

#four:before {
   content: "";
   display: block;
   position: absolute;
   top: 0%;
   left: 0px;
   z-index: -1;
   border-radius: 10px;
   height: 100%;
   width: 0px;
   transition: all 0.3s linear;
   background-color: #0088cc;
}

.myslider {
   margin-top: 50px;
   padding: 20px;
   background: linear-gradient(45deg, #d8cb17, #0da1db, #24cf15);
   background-size: 400% 400%;
   -webkit-animation: mywrap 10s ease-in-out infinite;
   animation: mywrap 10s ease-in-out infinite;

   @media(max-width:768px) {
      margin-top: 10px;
   }
}

.myslider__body {
   padding: 80px 0px 80px 0px;
}

.myslider__h2 {
   text-align: center;
}

.myslider__h3 {
   text-align: center;
   margin: 10px 0px 25px 0px;
   font-size: 24px;
   color: #fff;
   font-weight: 600;
   line-height: normal;
}

.myslider__bodyslide {
   text-align: center;
}

.myslider__img {
   width: 400px;
   height: 500px;
   margin: 0px auto;
}

.myslider__img img {
   -o-object-fit: cover;
   object-fit: cover;
   width: 100%;
   height: 100%;
}

.pag {
   text-align: center;
   margin-top: 20px;
}

.swiper-container {
   overflow: hidden;
   position: relative;
   top: 0px;
   left: 0px;
}

.swiper-pagination-bullet {
   width: 20px;
   height: 20px;
}

.swiper-pagination-bullet-active {
   background-color: white;
}

.swiper-button-prevv {
   position: absolute;
   top: 50%;
   width: 48px;
   border-radius: 50%;
   height: 48px;
   font-size: 18px;
   left: 150px;
   margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
   z-index: 10;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
   background-color: white;
}

.swiper-button-prevv i {
   font-size: 22px;
   color: #0088cc;
}

.swiper-button-prevv:hover {
   transition: all 0.3s linear 0s;
   background-color: #11c459;
   color: #fff;
}

.swiper-button-prevv:hover i {
   color: #fff;
}

.swiper-button-nextt {
   position: absolute;
   top: 50%;
   width: 48px;
   right: 150px;
   border-radius: 50%;
   height: 48px;
   font-size: 18px;
   margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
   z-index: 10;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
   background-color: white;
}

.swiper-button-nextt i {
   font-size: 22px;
   color: #0088cc;
}

.swiper-button-nextt:hover {
   transition: all 0.3s linear 0s;
   background-color: #11c459;
   color: #fff;
}

.swiper-button-nextt:hover i {
   color: #fff;
}

.about-me__body {
   padding: 60px 0px 60px 0px;
}

.about-me__h3 {
   text-align: center;
}

.about-me__textfirst {
   font-size: 19px;
   font-weight: normal;
   line-height: normal;
   max-width: 768px;
   margin: 10px auto 20px auto;
   text-align: center;
   color: #fff;
}

.about-me__aa {
   display: block;
   cursor: pointer;
   padding: 10px 15px;
   margin: 0px auto;
   width: 240px;
   font-size: 25px;
   text-align: center;
   color: #fff;
   border: 2px solid #fff;
   border-radius: 20px;
   transition: all 0.3s linear 0s;
}

.about-me__aa:hover {
   transition: all 0.3s linear 0s;
   background-color: #11c459;
   color: #fff;
}

.about-me__textsecond {
   display: none;
   font-size: 19px;
   font-weight: normal;
   line-height: normal;
   max-width: 768px;
   margin: 10px auto 20px auto;
   text-align: center;
   color: #fff;
}

.about-me__textsecond.active {
   display: block;
}

.skills__body {
   padding: 20px 0px;
}

.skills__h3 {
   text-align: center;
}

.skills__tabs {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 15px 0px;
}

.skills__atab {
   display: block;
   cursor: pointer;
   font-size: 22px;
   font-weight: 600;
   color: #fff;
   line-height: normal;
   padding: 12px 20px;
   border: 1px solid #fff;
   border-radius: 20px;
}

@media (max-width: 350px) {
   .skills__atab {
      font-size: 18px;
      padding: 8px 16px;
   }
}

.skills__atab:first-child {
   margin-right: 20px;
}

.skills__atab.active {
   background-color: #11c459;
}

.skills__connecttabss {
   margin-top: 30px;
}

.skills__connecttab {
   display: none;
}

.skills__connecttab.active {
   display: block;
}

.skills__rowimg {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   margin: 0px -15px;
}

.skills__column {
   padding: 15px;
   flex: 0 1 23%;
   cursor: pointer;
}

.skills__column:hover {
   transform: scale(1.06, 1.06);
   transition: all 0.3s linear 0s;
}

.skills__column:hover .star {
   color: rgba(245, 248, 33, 0.965);
   transition: all 0.3s linear 0s;
}

.skills__column:hover .half-star {
   transition: all 0.3s linear 0s;
   background: linear-gradient(90deg, rgba(245, 248, 33, 0.965) 51%, grey 49%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   transition: background 0.1s linear;
}

.skills__img {
   width: 100px;
   height: 100px;
   margin: 0px auto;
}

.skills__img img {
   width: 100%;
   height: 100%;
}

.skills__text {
   text-align: center;
   color: white;
   font-size: 21px;
   font-weight: 600;
   line-height: normal;
   text-transform: capitalize;
   margin: 8px 0px;
}

.skills__starts {
   display: flex;
   align-items: center;
   justify-content: center;
}

.skills__starts i {
   display: block;
}

.half-star {
   color: white;
   background: linear-gradient(90deg, white 51%, grey 49%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   transition: background 0.1s linear;
}

.star {
   color: white;
}

.grey-star {
   color: gray;
}

.portfolio__body {
   padding: 60px 0px;
}

.portfolio__h3 {
   text-align: center;
}

.portfolio__forlink {
   margin-bottom: 30px;
   display: block;
}

.portfolio__alink {
   display: block;
}

.portfolio__alink .portfolio__abouttext:hover {
   text-decoration: underline;
}

.portfolio__alink:first-child:hover {
   transition: all 0.2s linear 0s;
}

.portfolio__imgmain {
   margin: 0px auto;
   width: 100%;
   height: 100%;
   padding: 0px 100px;
   margin: 20px 0px;
}

.portfolio__imgmain img {
   display: block;
   width: 100%;
   height: 100%;
}

.portfolio__imgmain img:hover {
   box-shadow: 0px 0px 20px 15px;
   color: white;
   transition: all 0.3s linear 0s;
}

.portfolio__img {
   width: 40px;
   height: 40px;
   margin-right: 6px;
}

.portfolio__img:last-child {
   margin-right: 0px;
}

.portfolio__img img {
   width: 100%;
   height: 100%;
}

.portfolio__abouttext {
   text-align: center;
   font-size: 20px;
   color: white;
   line-height: normal;
}

.portfolio__shortlinkongithub {
   position: relative;
   top: 0px;
   display: block;
   margin: 0px auto;
   font-size: 22px;
   color: white;
   font-weight: 600;
   padding: 20px;
   line-height: normal;
   border-radius: 20px;
   margin: 0px auto;
   width: 280px;
   text-align: center;
   background-color: #11c459;
}

.portfolio__shortlinkongithub:hover:before {
   -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
   animation: anim-shadow 0.5s ease-in-out forwards;
}

.portfolio__shortlinkongithub:before {
   content: "";
   position: absolute;
   top: 0px;
   left: 0px;
   display: block;
   height: 100%;
   width: 100%;
   border-radius: 100px;
   border-radius: 25px;
   box-shadow: 0px 0px 0px 0px;
   color: white;
   transition: all 0.4s;
}

.portfolio__showmore {
   border: 2px solid black;
   display: block;
   color: #fff;
   padding: 12px 20px;
   font-weight: 600;
   font-size: 22px;
   width: 200px;
   margin: 0px auto;
   text-align: center;
   border-radius: 15px;
   cursor: pointer;
}

.portfolio__showmore:hover {
   background-color: #fff;
   border: 2px solid #fff;
   color: #0088cc;
   transition: all 0.3s linear 0s;
}

.portfolio__showmore.active {
   display: none;
}

.portfolio__addallfiles {
   display: none;
}

.portfolio__addallfiles.active {
   display: block;
}

.portfolio__row {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 20px 0px;
}

@-webkit-keyframes anim-shadow {
   to {
      box-shadow: 0px 0px 70px 25px;
      opacity: 0;
   }
}

@keyframes anim-shadow {
   to {
      box-shadow: 0px 0px 70px 25px;
      opacity: 0;
   }
}

.contact__body {
   padding: 30px 0px;
   text-align: center;
}

.contact__text {
   margin: 20px 0px;
   font-size: 22px;
   line-height: normal;
   font-weight: 500;
   color: white;
}

.contact__mycontacts {
   width: 190px;
   margin: 0px auto;
   display: block;
   cursor: pointer;
   font-size: 18px;
   font-weight: 600;
   position: relative;
   top: 0px;
   left: 0px;
   padding: 12px 20px;
   color: #0088cc;
   border-radius: 25px;
   transition: all 0.3s linear;
   background-color: #e6edf2;
   box-shadow: 0px 0px 0px 0px;
}

.contact__mycontacts i {
   transition: all 0.3s linear;
   margin-right: 10px;
   display: inline-block;
   color: #0088cc;
}

.contact__mycontacts:hover:before {
   -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
   animation: anim-shadow 0.5s ease-in-out forwards;
}

.contact__mycontacts:before {
   content: "";
   position: absolute;
   top: 0px;
   left: 0px;
   display: block;
   height: 100%;
   width: 100%;
   border-radius: 100px;
   border-radius: 25px;
   box-shadow: 0px 0px 0px 0px;
   color: white;
   transition: all 0.4s;
}

.contact__row {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   margin: 25px -15px 0px -15px;
}

.contact__colum {
   padding: 0px 15px;
   flex: 0 1 200px;
}

.contact__link {
   position: relative;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   display: block;
}

.contact__link i {
   display: block;
   font-size: 28px;
   color: white;
   margin: 10px;
}

.contact__link:hover .contact__name {
   color: #11c459;
   transition: all 0.3s linear;
}

.contact__link:hover .fab {
   color: #11c459;
   transition: all 0.3s linear;
}

.contact__link:hover .fas {
   color: #11c459;
   transition: all 0.3s linear;
}

.contact__name {
   color: white;
   font-size: 20px;

}

.contact__opacitytext {
   position: absolute;
   bottom: -30px;
   right: 24px;
   color: #11c459;
   font-size: 20px;
   visibility: hidden;
   opacity: 0;
   transition: all 0.3s linear 0s;

   &.active {
      transition: all 0.3s linear 0s;
      visibility: visible;
      opacity: 1;
   }


}

.footer {
   background: linear-gradient(to bottom, #0088cc, #11c459);
}

.footer__body {
   padding: 40px 0px;
}

.footer__maintext {
   color: white;
   font-size: 18px;
   font-weight: normal;
   line-height: normal;
   max-width: 300px;
   margin: 0px auto;
   text-align: center;
}

@media (max-width: 1100px) {
   .header__li {
      margin-right: 25px;
   }
}

@media (max-width: 1000px) {
   .swiper-button-prevv {
      left: 0px;
   }

   .swiper-button-nextt {
      right: 0px;
   }
}

@media (max-width: 800px) {
   .skills__column {
      flex: 0 1 33%;
   }
}

@media (max-width: 795px) {
   .header__li {
      margin-right: 16px;
   }
}

@media (max-width: 768px) {
   .header__row {
      justify-content: space-around;
   }

   .header__nav {
      width: 320px;
      height: 100%;
      position: fixed;
      z-index: 100;
      top: 0px;
      right: -100%;
      background: linear-gradient(to bottom, #11c459 60%, #55c5ff);
      transition: all 0.3s linear 0s;
   }

   .header__ul {
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
   }

   .header__li {
      margin-right: 0px;
      margin-top: 30px;
      margin-left: 20px;
   }

   .header__a {
      font-size: 28px;
   }

   .burger-menu {
      display: block;
      position: fixed;
      top: 35px;
      right: 14px;
      width: 30px;
      height: 18px;
      cursor: pointer;
      z-index: 50;
   }

   .burger-menu span {
      transition: all 0.3s ease 0s;
      top: 8px;
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000;
   }

   .burger-menu span:first-child {
      top: 0px;
   }

   .burger-menu span:last-child {
      top: auto;
      bottom: 0px;
   }

   .burger-menu.active {
      z-index: 101;
   }

   .burger-menu.active span {
      background-color: #fff;
      transform: scale(0);
   }

   .burger-menu.active span:first-child {
      transform: rotate(-45deg);
      top: 8px;
   }

   .burger-menu.active span:last-child {
      transform: rotate(45deg);
      bottom: 8px;
   }

   .portfolio__imgmain {
      padding: 0px 50px;
   }
}

@media (max-width: 550px) {
   .skills__column {
      flex: 1 1 50%;
   }

   .contact__body {
      padding: 0px 0px 20px 0px;
   }
}

@media (max-width: 500px) {
   .portfolio__imgmain {
      padding: 0px 15px;
   }
}

@media (max-width: 480px) {
   .myslider__img {
      width: 270px;
      height: 370px;
   }
}

@media (max-width: 415px) {
   .header__row {
      justify-content: flex-start;
   }

   .header__logoimg {
      margin-right: 20px;
   }
}

@media (max-width: 410px) {
   .swiper-button-prevv {
      display: none;
   }

   .swiper-button-nextt {
      display: none;
   }
}

@media (max-width: 400px) {
   .portfolio__imgmain {
      padding: 0px;
   }
}

@media (max-width: 380px) {
   .contact__row {
      flex-wrap: wrap;
   }

   .contact__colum {
      flex: 0 1 120px;
   }

   .contact__colum {
      flex-wrap: wrap;
      margin-bottom: 20px;
   }
}

@media (max-width: 355px) {
   .skills__column {
      flex: 0 1 48%;
   }
}